<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">SGS Airways</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto" id="centerLinks">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Flights</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/flights">Flight Listing</a>
          <a class="dropdown-item" href="/book">Flight Booking</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav" id="authLinks">
      <!-- Login/Logout items will be dynamically injected here -->
    </ul>
  </div>
</nav>
